:root {
    --background-color: #dde3ca;
    --azul-claro: #b2d9f7;
    --azul-escuro: #487aa1;
    --preto: #3d3c3b;
    --grey: #7c8071;
}



body {
    padding: 0;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: var(--background-color);

}



header {
    padding: 10px 10px;
}

.texto_ola {
    padding: 20px 10px;

}

.mao_acenando {
    width: 10%;
    color: var(--background-color);
}

.minha_foto {
    width: 30vh;
    height: auto;
    border-radius: 50%;
    box-shadow: 1px 1px 15px var(--azul-claro);
}

.apresentacao {
    padding: 20px 10px;

}




.menu-btn {

    cursor: pointer;
    z-index: 1000;
}

.menu-btn div {
    width: 35px;
    height: 5px;
    background: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.menu {
    position: fixed;
    top: 0;
    right: -150px;
    width: 150px;
    height: auto;
    background: #333;
    padding-top: 60px;
    transition: 0.4s;
}

.menu a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.menu a:hover {
    background: #575757;
    text-decoration: underline;
    text-shadow: 1px 1px 1px red;
    border-radius: 30px;
    transition: 1s;
}

.menu.active {
    right: 0;
    height: auto;
    padding: 10px;
    position: fixed;
    z-index: 1;
    border-radius: 0px 0px 0px 20%;
}

.menu-btn.active div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-btn.active div:nth-child(2) {
    opacity: 0;
}

.menu-btn.active div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}


/*Formação Acadêmica*/

.gif_clicando {
    width: 50px;
    height: auto;
}

main {
    background-color: var(--preto);
    color: rgb(255, 255, 255);
    padding: 20px;
}

.texto_p {
    text-shadow: 1px 0px 10px red;
}


.infos_formacao,
.formacao {
    margin: 0;
}

.certificados {
    padding-top: 60px;
}

.card {
    background-color: rgb(80, 73, 73);
    color: var(--preto);
}

.card-body {
    background-color: var(--background-color);

}

.btn {
    color: white;
    transition: 2s;
}

.btn:hover {
    color: var(--background-color);
    cursor: pointer;
    text-decoration: none;
    text-shadow: 1px 1px 20px green;
    text-decoration: underline;
}

/*Contato*/

#contato {
    padding: 40px;
}

.container {
    width: 100%;
    display: flex;
    gap: 1em;
    padding: 10px 10px 70px 10px;
}

.whats,
.cv {

    width: 200px;
    height: 200px;
    background-color: var(--grey);
    border-radius: 20px;
    color: white;
}

.whats_escrita,
.cv_escrita {
    margin: 0;
}


/*footer*/

.container {
    width: 100%;
    display: flex;
    gap: 1em;
    padding: 20px;
    justify-content: center;
}

.caixa {
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 3px;
}

.button {
    background-color: var(--azul-claro);
    color: var(--preto);
    box-shadow: 3px 2px 1px;
}


.download {
    padding: 5px;
    border-radius: 10px;
    height: auto;

}

.copyright {
    height: 30vh;
    padding: 100px 0px 90px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 10px 1px 10px var(--azul-escuro);
}


/*Media query*/


@media screen and (min-width: 1024px) {

    


    /*header*/

    header,
    main,
    footer,
    nav {
        width: 50%;
        margin: 0 auto;
        position: relative;
        padding-bottom: 100px;
    }

    .menu.active {
        
        width: 20%;
        right: 0;
        padding: 10px;
        position: absolute;
        z-index: 1;
        border-radius: 0px 0px 0px 20%;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -100px;
        width: 0%;
        height: auto;
        background: #333;
        padding-top: 60px;
        transition: 0.4s;
    }

    .container {
        width: 60%;
        margin: 0 auto;
    }

    .button {
        padding: 0px;
        cursor: pointer;
    }
    .apresentacao {
        padding-top: 40px;
    }


    .copyright {
        padding-top: 25%;
        
    }

    
}